<div class="quote-container">
  <h1>Otaku Oracle: Random Anime Quote</h1>
  <p class="quote">"<%= @quote %>"</p>
  <p class="character">- <strong><%= @character %></strong>, <em><%= @anime %></em></p>
  <a href="/" class="refresh-button">Get Another Quote</a>
</div>
